# npm 源配置
registry = http://registry.npm.taobao.org/
@shangqi:registry = http://registry.industrydata.cn/npm/

# 其他源配置
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

# cypress 配置
CYPRESS_INSTALL_BINARY=0
# CYPRESS_DOWNLOAD_PATH_TEMPLATE="https://repo.huaweicloud.com/cypress/10.3.1/\${platform}-\${arch}/cypress.zip"
CYPRESS_DOWNLOAD_PATH_TEMPLATE='https://registry.npmmirror.com/-/binary/cypress/10.3.1/\${platform}-\${arch}/cypress.zip'

# 认证相关
init.author.name = shangqi
init.author.email = shangqi@baai.com
# init.author.url = *
//registry.industrydata.cn/npm/:_authToken="XqLnBwghUIOhjjy2KEn9xivTeNdB43Zo8E3bvrrK3a8="
always-auth = true
